.upload-message{
    width: 20%;
    margin: 7% auto;
    background-color: #696969;
    border-radius: 6px;
    height: auto;
    text-align: center;
    color: #F7F7FF;
    padding: 10px;
    border-style: dashed;
    display:block;
    overflow: auto;
}
.upload-message:hover {
    box-shadow:  5px 5px 5px #00000035;
}

.sub-text{
    opacity: .4;
}

.form-holder{
    text-align: center;
    margin: 20px auto;
    width:80%;
    height:auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow:  5px 5px 5px #00000035;
    background-color: #FFAE00;
    color: #F7F7FF;
}
input{
    padding:5px;
    margin: 10px auto;
    text-align: center;
}