.master-container{
    margin: 0 auto;
    text-align: center;
    height:65vh;
    width:60%;
    color:#F7F7FF;
    background-color: #306B34;
    overflow: scroll;
    border-radius: 6px;
    box-shadow:  5px 5px 5px #00000035;
}

a{
    color:#F7F7FF;
    text-decoration: none;
    
}
a:hover{
    color:#FFAE00;
}
.card-container{
    display: flex;
    width: 40%;
    display: inline-block;
    border-radius: 6px;
    box-shadow:  5px 5px 5px #00000035;
    margin-left: 20px;
    justify-content: center;
    /* margin:auto 20px; */
    text-align: center;
}

.version-form{
    text-align: left;
    padding:10px;
}
.version-form #text-area{
    margin-left: 30%;
}
.submit-btn{
    margin-left: 38%;
}
/* .card{
    display:inline-block
} */