.nav-bar{
    position: relative;
    width: 97%;
    height: 75px;
    background-color: #474A48;
    border-radius: 6px;
    margin: 10px auto;
    box-shadow:  5px 5px 5px #00000035;
}
.nav-bar a{
    color:#F7F7FF;
    text-decoration: none;
}
.nav-bar:hover{
    text-decoration: underline;
}